<%= link_to "List Users", admin_users_path %>

<h1>Editing user</h1>

<% form_for :user, :url => admin_user_path(@user.id), :html => { :method => :put } do |f| -%>
	<%= f.error_messages %>
	
	<%= render :partial => 'form', :locals => {:f => f} %>
	<%= f.submit "Save" %>
<% end %>