<% content_for :page_title do %>
	<h1>Editing user</h1>
<% end %>


<% form_for :user, :url => admin_user_path(@user.id), :html => { :method => :put } do |f| -%>
	<%= f.error_messages %>
	
	<%= render :partial => 'form', :locals => {:f => f} %>
	<%= f.submit "Save" %>
<% end %>