<h1>Listing Users</h1>

<%= will_paginate @users %>

<table>
	<% for user in @users %>
		<tr>
			<td><%= user.email %></td>
			<td><%= link_to "Edit", edit_admin_user_path(user.id), :id => "edit#{user.id}" %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @users %>